
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <link rel="stylesheet" href="/css/style.css">
        
</head>

<body>

    
    <div class="sidebar">
        <h1>Admin Dashboard</h1>
        <div class="actions">
            <a href="/admin/create">Create New Product</a>
            <a href="/admin/products">View All Products</a>
            <a href="/admin/create-category">Create New Category</a>
            <a href="/admin/categories">View All Categories</a>
            <a href="/admin/create-subcategory">Create New Subcategory</a>
            <a href="/admin/logout">Logout</a>
        </div>
    </div>

    <!-- Dashboard Content -->
    <div class="dashboard-content">
        <h2>Categories</h2>
        <ul class="category-list">
            <% categories.forEach(category => { %>
                <li class="category-item">
                    <strong><%= category.name %></strong><br>

                    <a href="/admin/categories/<%= category._id %>/edit">Edit</a> |
                    <a href="/admin/categories/<%= category._id %>/delete">Delete</a><br>

                    <a href="javascript:void(0);" class="toggle-btn" onclick="toggleSubCategories('<%= category._id %>')">Show Subcategories</a>

                    <ul id="subcategories-<%= category._id %>" class="subcategories">
                        <% category.subCategories.forEach(subCategory => { %>
                            <li class="subcategory-item">
                                <%= subCategory.name %> -
                                <% if (subCategory.parentCategory) { %>
                                    <%= subCategory.parentCategory.name %>
                                <% } else { %>
                                    No Category Assigned
                                <% } %>
                                <a href="/admin/update-subcategory/<%= subCategory._id %>">Edit</a> |
                                <a href="/admin/subcategories/<%= subCategory._id %>/delete">Delete</a>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    </div>

    <script>
        function toggleSubCategories(categoryId) {
            const subcategoryList = document.getElementById('subcategories-' + categoryId);
            if (subcategoryList.style.display === 'none' || subcategoryList.style.display === '') {
                subcategoryList.style.display = 'block';
            } else {
                subcategoryList.style.display = 'none';
            }
        }
    </script>

</body>

</html>
